  body{
    height:650px;
  }.heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:25px;
    padding-bottom:5px;
  }
  .heading_div
  {
    padding:10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    font-size:20px;
    float:none;
  }
  .heading_div2
  {

    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span{
white-space: pre-line;
  }
  .copy_right_footer{
    background-color:rgba(0, 0, 0, 0.493);
    font-size:18px;
    width:100%;
    color: white;
    bottom:0;
    position:fixed;
    text-align:center;
    line-height:2.5;
    z-index:10;
  }
 canvas{
   border:2px inset black;
   margin-top:130px;
   border-radius:10px;
   box-shadow: 5px 5px 5px grey;
 }